# Null Rite Web - Environment Variables
# Copy to .env.local and fill in

# WalletConnect Cloud Project ID (gratis di https://cloud.walletconnect.com)
# Untuk mobile wallet connect via QR code
NEXT_PUBLIC_WC_ID=

# Contract address (testnet)
NEXT_PUBLIC_NULLRITE_ADDRESS=0xd3E85fe5D282e1bc49F4A6B189272Ec874D29500

# Chain ID (testnet = 46630, mainnet = 4663)
NEXT_PUBLIC_CHAIN_ID=46630

# IPFS Gateway untuk metadata & image
NEXT_PUBLIC_IPFS_GATEWAY=https://gateway.lighthouse.storage/ipfs/